[Unit]
Description=nb.gallery jupyter client
After=network-online.target docker.service

[Service]
ExecStart=/usr/bin/docker run -p 80:80 nbgallery/jupyter-alpine jupyter notebook --NotebookApp.token='<%= token %>' --NotebookApp.password=''
ExecStop=/bin/bash -c 'docker commit $(docker ps -q) nbgallery/jupyter-alpine'
ExecStop=/bin/bash -c 'docker stop $(docker ps -q)'

[Install]
WantedBy=multi-user.target
