css:
    #wrapper {
        background-color: #1a1a1a;
        padding-bottom: 2em;
    }
    #welcomeVideo {
        margin-top: 4em;
    }
    .footer {
        margin-top: 0;
    }
body
  div.content-container
    ==video_tag("#{GalleryConfig.video.overview}", width: '100%', controls: 'true', class: 'introvideo', id: 'welcomeVideo')
