==render partial: 'custom_webtracking'
==render partial: 'notebooks/actions_modal'
==render partial: 'notebooks/notebook_info_jumbotron'
==render partial: 'notebooks/notebook_recommendation_jumbotron'
div class= "container #{@user.privileged_on?(@notebook) ? 'admin_hidden' : ''}" id='notebookDisplay'
  ==render partial: 'notebook', locals: { notebook: @notebook.notebook, code_cells: @notebook.code_cells }

