javascript:
  document.addEventListener("turbolinks:load", function(){

    var AUTH_TOKEN = $('meta[name=csrf-token]').attr('content');

    $('#approveChangeRequestForm').validator().on('submit', function(e){
      if (!e.isDefaultPrevented()) {
        $('#approveChangeRequestSubmit').attr('disabled', true);
        var url = '#{accept_change_request_path(@change_request)}'
        $('#approveChangeRequestModal').modal('hide');
        bootboxPending('Approving Change Request - Hang Tight!');
        $.ajax({
          url: url,
          type: 'PATCH',
          data: new FormData($('#approveChangeRequestForm')[0]),
          cache: false,
          contentType: false,
          processData: false,
          success: function() {
            bootbox.hideAll();
            bootbox.alert({
              message:'Change Request Approved!',
              callback: function(){
                window.location.replace("#{notebook_path(@change_request.notebook)}")
              }
            })
          },
          error: function(response) {
            bootbox.alert("Accept Change Request Failed <br><br>" + response.statusText);
            bootbox.hideAll();
          }
        });
        return false;
      }
    });

    $('#declineChangeRequestForm').validator().on('submit', function(e){
      if (!e.isDefaultPrevented()) {
        $('#declineChangeRequestSubmit').attr('disabled', true);
        var url = '#{decline_change_request_path(@change_request)}'
        $('#declineChangeRequestModal').modal('hide');
        bootboxPending('Declining change request!');
        $.ajax({
          url: url,
          type: 'PATCH',
          data: new FormData($('#declineChangeRequestForm')[0]),
          cache: false,
          contentType: false,
          processData: false,
          success: function() {
            bootbox.hideAll();
            bootbox.alert({
              message:'Change Request Declined!',
              callback: function(){
                window.location.replace("#{notebook_path(@change_request.notebook)}")
              }
            })
          },
          error: function(response) {
            bootbox.alert("Decline Change Request Failed <br><br>" + response.statusText);
            bootbox.hideAll();
          }
        });
        return false;
      }
    });

    $('#cancelChangeRequestForm').validator().on('submit', function(e){
      if (!e.isDefaultPrevented()) {
        $('#cancelChangeRequestSubmit').attr('disabled', true);
        var url = '#{cancel_change_request_path(@change_request)}'
        $('#cancelChangeRequestModal').modal('hide');
        bootboxPending('Canceling change request!');
        $.ajax({
          url: url,
          type: 'PATCH',
          data: new FormData($('#cancelChangeRequestForm')[0]),
          cache: false,
          contentType: false,
          processData: false,
          success: function() {
            bootbox.hideAll();
            bootbox.alert({
              message:'Change Request Cancel!',
              callback: function(){
                window.location.replace("#{notebook_path(@change_request.notebook)}")
              }
            })
          },
          error: function(response) {
            bootbox.alert("Cancel Change Request Failed <br><br>" + response.statusText);
            bootbox.hideAll();
          }
        });
        return false;
      }
    });

    $('#changeReqView').load('#{compare_change_request_path(@change_request)}');

    $('#changeReqViewDiffs').on('click',function(){
      $('#changeReqView').html('<div class="center" id="hiddenSpinner" role="alert">#{image_tag('nbgallery_logo.png', class:'center ld ld-breath logo-loading', alt:"Content is loading")}</div>')
      $('#changeReqViewText').text('View Diffs');
      $('#changeReqView').removeClass('view-inline view-compare').addClass('view-diffs');
      $('#changeReqView').load('#{diff_change_request_path(@change_request)}');
      $(this).parents('.dropdown-menu').dropdown('toggle');
      return false;
    });

    $('#changeReqViewInlineDiffs').on('click',function(){
      $('#changeReqView').html('<div class="center" id="hiddenSpinner" role="alert">#{image_tag('nbgallery_logo.png', class:'center ld ld-breath logo-loading', alt:"Content is loading")}</div>')
      $('#changeReqViewText').text('View Diffs (inline)');
      $('#changeReqView').removeClass('view-diffs view-compare').addClass('view-inline');
      $('#changeReqView').load('#{diff_inline_change_request_path(@change_request)}');
      $(this).parents('.dropdown-menu').dropdown('toggle');
      return false;
    });

    $('#changeReqViewCompare').on('click',function(){
      $('#changeReqView').html('<div class="center" id="hiddenSpinner" role="alert">#{image_tag('nbgallery_logo.png', class:'center ld ld-breath logo-loading', alt:"Content is loading")}</div>')
      $('#changeReqViewText').text('Compare Notebooks');
      $('#changeReqView').removeClass('view-diffs view-inline').addClass('view-compare');
      $('#changeReqView').load('#{compare_change_request_path(@change_request)}');
      $(this).parents('.dropdown-menu').dropdown('toggle');
      return false;
    });
  });

==csrf_meta_tag
div.content-container id="changeRequestPage"
  div.return
    a.tooltips href="#{change_requests_path}" title="Go to Change Requests page" aria-label="Go to change requests page"
      i.fa.fa-share aria-hidden="true"
      | Back
  h1.center
    span id='title'
      ' Change Request for:
      ==link_to_notebook(@change_request.notebook)
  div.page-metadata
    p
      strong
        ' Submitted by:
      a.tooltips href="#{user_path(@change_request.requestor)}" title="#{@change_request.requestor.first_name} #{@change_request.requestor.last_name} (#{@change_request.requestor.org})" =="#{@change_request.requestor.first_name} #{@change_request.requestor.last_name}"
      time.tooltips.tooltip-right.tooltipstered title="#{@change_request.updated_at.strftime("%A, %B %d, %Y %H:%M UTC")}"
        |  #{time_ago_in_words(@change_request.updated_at)} ago
    p
      strong Status:
      |  #{@change_request.status.upcase}
    p
      strong Comments:
      |  #{@change_request.requestor_comment}
    div.button-container
      -if @change_request.status == 'pending'
        -if @user.can_edit?@change_request.notebook
          a.modal-activate href="#approveChangeRequestModal" data-toggle='modal' tabindex="-1"
            button.btn.btn-success Approve Change Request
          a.modal-activate href="#declineChangeRequestModal" data-toggle='modal' tabindex="-1"
            button.btn.btn-danger Decline Change Request
        -if @change_request.requestor == @user
          a.modal-activate href="#cancelChangeRequestModal" data-toggle='modal' tabindex="-1"
            button.btn.btn-danger Cancel Request

  -if @change_request.status == 'pending'
    -if @change_request.updated_at < @change_request.notebook.updated_at
      div.alert.alert-danger.center
        span
          strong Warning: Notebook has been modified since this change request was submitted
    ==render partial: 'custom_change_request_warning'
    div.center
      div.btn-group
        button.btn.btn-primary.dropdown-toggle data-toggle='dropdown'
          span id='changeReqViewText' Compare Notebooks
          span.caret
        ul.dropdown-menu
          li
            a href ='#' id='changeReqViewCompare'
              span Compare Notebooks
          li
            a href ='#' id='changeReqViewDiffs'
              span View Diffs
          li
            a href ='#' id='changeReqViewInlineDiffs'
              span View Diffs (inline)
    hr
    div.row id = 'changeReqView'
  -else
    div.center
      h2 This change request was #{@change_request.status} #{time_ago_in_words(@change_request.updated_at)} ago
      a href="#{notebook_path(@change_request.notebook)}"
        h2 View Notebook
