javascript:
  $(document).ready(function(){
    var AUTH_TOKEN = $('meta[name=csrf-token]').attr('content');
    $('#approveChangeRequestForm').validator().on('submit', function(e){
      if (!e.isDefaultPrevented()) {
        $('#approveChangeRequestSubmit').attr('disabled', true);
        var url = '#{accept_change_request_path(@change_request)}'
        $('#approveChangeRequestModal').modal('hide');
        loadingGif();
        $.ajax({
          url: url,
          type: 'PATCH',
          data: new FormData($('#approveChangeRequestForm')[0]),
          cache: false,
          contentType: false,
          processData: false,
          success: function() {
            window.location.replace("#{notebook_path(@change_request.notebook)}");
          },
          error: function(response) {
            if (response.responseJSON.message != null) {
              $('#approveChangeRequestModal').modal('show');
              makeAlert('error', '#approveChangeRequestModal .alert-container', response.responseJSON.message);
              $('#approveChangeRequestSubmit').attr('disabled', false);
            }
            else {
              makeAlert('error', '', 'Approving of the change request failed. Specific error: "' + response.statusText + '". Try refreshing the page and trying again');
            }
          }
        });
        return false;
      }
    });

    $('#declineChangeRequestForm').validator().on('submit', function(e){
      if (!e.isDefaultPrevented()) {
        $('#declineChangeRequestSubmit').attr('disabled', true);
        var url = '#{decline_change_request_path(@change_request)}'
        $('#declineChangeRequestModal').modal('hide');
        $.ajax({
          url: url,
          type: 'PATCH',
          data: new FormData($('#declineChangeRequestForm')[0]),
          cache: false,
          contentType: false,
          processData: false,
          success: function() {
            window.location.replace("#{notebook_path(@change_request.notebook)}");
          },
          error: function(response) {
            makeAlert('error', '', 'Declining of the change request failed. Specific error: "' + response.statusText + '". Try refreshing the page and trying again');
          }
        });
        return false;
      }
    });

    $('#cancelChangeRequestForm').validator().on('submit', function(e){
      if (!e.isDefaultPrevented()) {
        $('#cancelChangeRequestSubmit').attr('disabled', true);
        var url = '#{cancel_change_request_path(@change_request)}'
        $('#cancelChangeRequestModal').modal('hide');
        $.ajax({
          url: url,
          type: 'PATCH',
          data: new FormData($('#cancelChangeRequestForm')[0]),
          cache: false,
          contentType: false,
          processData: false,
          success: function() {
            window.location.replace("#{notebook_path(@change_request.notebook)}");
          },
          error: function(response) {
            makeAlert('error', '', 'Cancelling of the change request failed. Specific error: "' + response.statusText + '". Try refreshing the page and trying again');
          }
        });
        return false;
      }
    });

    $('#changeReqView').load('#{compare_change_request_path(@change_request)}');

    $('#changeReqViewDiffs').on('click',function(){
      loadingGif();
      $('#changeReqViewText').text('View Diffs');
      $('#changeReqView').removeClass('view-inline view-compare').addClass('view-diffs');
      $('#changeReqView').load('#{diff_change_request_path(@change_request)}');
      $(this).parents('.dropdown-menu').dropdown('toggle');
      $('#changeReqViewButton').click();
      return false;
    });

    $('#changeReqViewInlineDiffs').on('click',function(){
      loadingGif();
      $('#changeReqViewText').text('View Diffs (inline)');
      $('#changeReqView').removeClass('view-diffs view-compare').addClass('view-inline');
      $('#changeReqView').load('#{diff_inline_change_request_path(@change_request)}');
      $(this).parents('.dropdown-menu').dropdown('toggle');
      $('#changeReqViewButton').click();
      return false;
    });

    $('#changeReqViewCompare').on('click',function(){
      loadingGif();
      $('#changeReqViewText').text('Compare Notebooks');
      $('#changeReqView').removeClass('view-diffs view-inline').addClass('view-compare');
      $('#changeReqView').load('#{compare_change_request_path(@change_request)}');
      $(this).parents('.dropdown-menu').dropdown('toggle');
      $('#changeReqViewButton').click();
      return false;
    });
  });

==csrf_meta_tag
div.content-container
  div.return-link
    a href="#{change_requests_path}"
      i.fa.fa-share aria-hidden="true"
      | See all your change requests
  h1.center
    span id="title"
      ' Change Request for:
      ==link_to_notebook(@change_request.notebook)
  div.page-metadata
    p
      strong
        ' Submitted by:
      a.tooltips href="#{user_path(@change_request.requestor)}" title="#{@change_request.requestor.first_name} #{@change_request.requestor.last_name} (#{@change_request.requestor.org})" =="#{@change_request.requestor.first_name} #{@change_request.requestor.last_name}"
      span #{" "}
      ==render partial: "time_ago", locals: {time: @change_request.created_at}
    p
      strong Status:
      |  #{@change_request.status.upcase}
    -if @change_request.commit_message != nil && GalleryConfig.storage.track_revisions
      p
        strong Change log:
        |  #{@change_request.commit_message}
    -if @change_request.requestor_comment != nil && @change_request.requestor_comment != ""
      p
        strong Comment:
        |  #{@change_request.requestor_comment}
    -if @change_request.status != "pending"
      hr.divider
      -if @change_request.status == "accepted"
        p
          strong
            ' Accepted by:
          -if @change_request.reviewer_id == nil
            span Unknown
          -else
            -owner = User.find(@change_request.reviewer_id)
            a.tooltips href="#{user_path(owner)}" title="#{owner.first_name} #{owner.last_name} (#{owner.org})" =="#{owner.first_name} #{owner.last_name}"
          span #{" "}
          ==render partial: "time_ago", locals: {time: @change_request.updated_at}
      -elsif @change_request.status == "declined"
        p
          strong
            ' Declined by:
          -if @change_request.reviewer_id == nil
            span Unknown
          -else
            -owner = User.find(@change_request.reviewer_id)
            a.tooltips href="#{user_path(owner)}" title="#{owner.first_name} #{owner.last_name} (#{owner.org})" =="#{owner.first_name} #{owner.last_name}"
          span #{" "}
          ==render partial: "time_ago", locals: {time: @change_request.updated_at}
      -elsif  @change_request.status == "canceled"
        p
          strong
            ' Canceled:
          ==render partial: "time_ago", locals: {time: @change_request.updated_at}
      -if @change_request.owner_comment != nil && @change_request.owner_comment != ""
        -if @change_request.status == "canceled"
          p
            strong
              ' Reason:
            span #{@change_request.owner_comment}
        -else
          p
            strong
              ' Reviewer Comment:
            span #{@change_request.owner_comment}
    -else
      div.button-container
        -if @user.can_edit?@change_request.notebook || @change_request.requestor == @user
          a.modal-activate href="#approveChangeRequestModal" data-toggle="modal" tabindex="-1"
            button.btn.btn-success Approve Change Request
          -if @change_request.requestor != @user
            a.modal-activate href="#declineChangeRequestModal" data-toggle="modal" tabindex="-1"
              button.btn.btn-danger Decline Change Request
        -if @change_request.requestor == @user
          a.modal-activate href="#cancelChangeRequestModal" data-toggle="modal" tabindex="-1"
            button.btn.btn-danger Cancel Request

  -if @change_request.status == "pending" || @change_request.status == "declined"
    -if @change_request.updated_at < @change_request.notebook.updated_at
      div.alert.alert-danger.center
        span
          strong Warning: Notebook has been modified since this change request was submitted
    ==render partial: "custom_change_request_warning"
    div.center
      div.btn-group
        button.btn.btn-primary.dropdown-toggle id="changeReqViewButton" aria-haspopup="true" aria-expanded="false"
          span.sr-only id="dropdownChangeViewAriaLabel"
            |  Expand Change View Dropdown. Currently set to:
          span id="changeReqViewText" Compare Notebooks
          span.caret aria-hidden="true"
        ul.dropdown-menu id="changeReqViewDropdown" style="display: none"
          li
            a href ="#" id="changeReqViewCompare"
              span Compare Notebooks
          li
            a href ="#" id="changeReqViewDiffs"
              span View Diffs
          li
            a href ="#" id="changeReqViewInlineDiffs"
              span View Diffs (inline)
    hr
    div.row id="changeReqView"
