javascript:
  $(document).ready(function(){

    var AUTH_TOKEN = $('meta[name=csrf-token]').attr('content');

    $('#approveChangeRequestForm').validator().on('submit', function(e){
      if (!e.isDefaultPrevented()) {
        $('#approveChangeRequestSubmit').attr('disabled', true);
        var url = '#{accept_change_request_path(@change_request)}'
        $('#approveChangeRequestModal').modal('hide');
        bootboxPending('Approving Change Request - Hang Tight!');
        $.ajax({
          url: url,
          type: 'PATCH',
          data: new FormData($('#approveChangeRequestForm')[0]),
          cache: false,
          contentType: false,
          processData: false,
          success: function() {
            bootbox.hideAll();
            bootbox.alert({
              message:'Change Request approved!',
              callback: function(){
                window.location.replace("#{notebook_path(@change_request.notebook)}")
              }
            })
          },
          error: function(response) {
            bootbox.alert("Accept Change Request Failed <br><br>" + response.statusText + " - try refreshing the page and trying again");
          }
        });
        return false;
      }
    });

    $('#declineChangeRequestForm').validator().on('submit', function(e){
      if (!e.isDefaultPrevented()) {
        $('#declineChangeRequestSubmit').attr('disabled', true);
        var url = '#{decline_change_request_path(@change_request)}'
        $('#declineChangeRequestModal').modal('hide');
        $.ajax({
          url: url,
          type: 'PATCH',
          data: new FormData($('#declineChangeRequestForm')[0]),
          cache: false,
          contentType: false,
          processData: false,
          success: function() {
            bootbox.hideAll();
            bootbox.alert({
              message:'Change Request declined!',
              callback: function(){
                window.location.replace("#{notebook_path(@change_request.notebook)}")
              }
            })
          },
          error: function(response) {
            bootbox.alert("Decline Change Request Failed <br><br>" + response.statusText + " - try refreshing the page and trying again");
          }
        });
        return false;
      }
    });

    $('#cancelChangeRequestForm').validator().on('submit', function(e){
      if (!e.isDefaultPrevented()) {
        $('#cancelChangeRequestSubmit').attr('disabled', true);
        var url = '#{cancel_change_request_path(@change_request)}'
        $('#cancelChangeRequestModal').modal('hide');
        $.ajax({
          url: url,
          type: 'PATCH',
          data: new FormData($('#cancelChangeRequestForm')[0]),
          cache: false,
          contentType: false,
          processData: false,
          success: function() {
            bootbox.hideAll();
            bootbox.alert({
              message:'Change Request canceled!',
              callback: function(){
                window.location.replace("#{notebook_path(@change_request.notebook)}")
              }
            })
          },
          error: function(response) {
            bootbox.alert("Cancel Change Request Failed <br><br>" + response.statusText + " - try refreshing the page and trying again");
          }
        });
        return false;
      }
    });

    function render_loading_image() {
      if ($("body").hasClass("dark-theme") || $("body").hasClass("ultra-dark-theme")) {
        $('#changeReqView').html('<div class="center" id="hiddenSpinner" role="alert">#{image_tag('nbgallery_logo_white.png', class:'center ld ld-breath logo-loading', alt:"Content is loading")}</div>')
      }
      else {
        $('#changeReqView').html('<div class="center" id="hiddenSpinner" role="alert">#{image_tag('nbgallery_logo.png', class:'center ld ld-breath logo-loading', alt:"Content is loading")}</div>')
      }
    }

    $('#changeReqView').load('#{compare_change_request_path(@change_request)}');

    $('#changeReqViewDiffs').on('click',function(){
      render_loading_image();
      $('#changeReqViewText').text('View Diffs');
      $('#changeReqView').removeClass('view-inline view-compare').addClass('view-diffs');
      $('#changeReqView').load('#{diff_change_request_path(@change_request)}');
      $(this).parents('.dropdown-menu').dropdown('toggle');
      $('#changeReqViewButton').click();
      return false;
    });

    $('#changeReqViewInlineDiffs').on('click',function(){
      render_loading_image();
      $('#changeReqViewText').text('View Diffs (inline)');
      $('#changeReqView').removeClass('view-diffs view-compare').addClass('view-inline');
      $('#changeReqView').load('#{diff_inline_change_request_path(@change_request)}');
      $(this).parents('.dropdown-menu').dropdown('toggle');
      $('#changeReqViewButton').click();
      return false;
    });

    $('#changeReqViewCompare').on('click',function(){
      render_loading_image();
      $('#changeReqViewText').text('Compare Notebooks');
      $('#changeReqView').removeClass('view-diffs view-inline').addClass('view-compare');
      $('#changeReqView').load('#{compare_change_request_path(@change_request)}');
      $(this).parents('.dropdown-menu').dropdown('toggle');
      $('#changeReqViewButton').click();
      return false;
    });
  });

==csrf_meta_tag
div.content-container
  div.return
    a href="#{change_requests_path}"
      i.fa.fa-share aria-hidden="true"
      | See all your change requests
  h1.center
    span id="title"
      ' Change Request for:
      ==link_to_notebook(@change_request.notebook)
  div.page-metadata
    p
      strong
        ' Submitted by:
      a.tooltips href="#{user_path(@change_request.requestor)}" title="#{@change_request.requestor.first_name} #{@change_request.requestor.last_name} (#{@change_request.requestor.org})" =="#{@change_request.requestor.first_name} #{@change_request.requestor.last_name}"
      span #{" "}
      ==render partial: "time_ago", locals: {time: @change_request.updated_at}
    p
      strong Status:
      |  #{@change_request.status.upcase}
    p
      strong Comments:
      |  #{@change_request.requestor_comment}
    div.button-container
      -if @change_request.status == "pending"
        -if @user.can_edit?@change_request.notebook
          a.modal-activate href="#approveChangeRequestModal" data-toggle="modal" tabindex="-1"
            button.btn.btn-success Approve Change Request
          a.modal-activate href="#declineChangeRequestModal" data-toggle="modal" tabindex="-1"
            button.btn.btn-danger Decline Change Request
        -if @change_request.requestor == @user
          a.modal-activate href="#cancelChangeRequestModal" data-toggle="modal" tabindex="-1"
            button.btn.btn-danger Cancel Request

  -if @change_request.status == "pending"
    -if @change_request.updated_at < @change_request.notebook.updated_at
      div.alert.alert-danger.center
        span
          strong Warning: Notebook has been modified since this change request was submitted
    ==render partial: "custom_change_request_warning"
    div.center
      div.btn-group
        button.btn.btn-primary.dropdown-toggle id="changeReqViewButton" aria-haspopup="true" aria-expanded="false"
          span id="changeReqViewText" Compare Notebooks
          span.sr-only
            |  View Dropdown
          span.caret
        ul.dropdown-menu id="changeReqViewDropdown" style="display: none"
          li
            a href ="#" id="changeReqViewCompare"
              span Compare Notebooks
          li
            a href ="#" id="changeReqViewDiffs"
              span View Diffs
          li
            a href ="#" id="changeReqViewInlineDiffs"
              span View Diffs (inline)
    hr
    div.row id="changeReqView"
  -else
    div.center
      h2
        ' This change request was #{@change_request.status}
        ==render partial: "time_ago", locals: {time: @change_request.updated_at}
      a href="#{notebook_path(@change_request.notebook)}"
        h2 View Notebook
