.dockerignore
.git
.gitignore
.overcommit.yml
.rubocop.yml
.rubocop_todo.yml
config/*.local.yml
config/settings/*.local.yml
Dockerfile
README.md
docker-run*

/cache
/change_requests
/docker
/data
/integration
/log
/solr
/staging
/test
/tmp
/vendor/bundle
