' Change Request Approved
= "\r\n" * 2
' The change request was approved by #{@owner.name} (#{@owner.org}) for #{@change_request.notebook.title} (#{@url + notebook_path(@change_request.notebook)})
= "\r\n"
-if @change_request.owner_comment != nil
  ' Owner comments: #{@change_request.owner_comment}
  = "\r\n"
' You can view all of your change requests here: #{@url + '/change_requests'}
