' #{GalleryConfig.site.name} Change Request Canceled
= "\r\n" * 2
' The change request was canceled by #{@change_request.requestor.name} for #{@change_request.notebook.title}: #{@url + notebook_path(@change_request.notebook)}
= "\r\n"
' You can view all of your change requests here: #{@url + 'change_requests'}
