div.content-container
  h1.center Package usage
  br
  div.row
    -if @packages.include?("python")
      div.col-md-4
        div.panel.panel-primary
          div.panel.panel-heading
            h2.panel-title Python
          table.table.tabular
            caption.sr-only Python Language
            thead
              tr
                th Package
                th
                  span.show-inline aria-hidden="true" style="display: none" #{"#"}
                  span.sr-only Number of notebooks utilizing package
            tbody
              -@packages["python"].sort_by {|_pkg, count| -count}.take(50).each do |pkg, count|
                tr
                  td
                    a href="#{notebooks_path}?q=#{pkg}" ==pkg
                  td ==count
    -if @packages.include?("ruby")
      div.col-md-4
        div.panel.panel-primary
          div.panel.panel-heading
            h2.panel-title Ruby
          table.table.tabular
            caption.sr-only Ruby Language
            thead
              tr
                th Package
                th
                  span.show-inline aria-hidden="true" style="display: none" #{"#"}
                  span.sr-only Number of notebooks utilizing package
            tbody
              -@packages["ruby"].sort_by {|_pkg, count| -count}.take(50).each do |pkg, count|
                tr
                  td
                    a href="#{notebooks_path}?q=#{pkg}" ==pkg
                  td ==count
    -if @packages.include?("R")
      div.col-md-4
        div.panel.panel-primary
          div.panel.panel-heading
            h2.panel-title R
          table.table.tabular
            caption.sr-only R Language
            thead
              tr
                th Package
                th
                  span.show-inline aria-hidden="true" style="display: none" #{"#"}
                  span.sr-only Number of notebooks utilizing package
            tbody
              -@packages["R"].sort_by {|_pkg, count| -count}.take(50).each do |pkg, count|
                tr
                  td
                    a href="#{notebooks_path}?q=#{pkg}" ==pkg
                  td ==count
