production:
  solr:
    scheme: <%= GalleryConfig.solr.scheme || 'http' %>
    hostname: <%= GalleryConfig.solr.hostname || 'localhost' %>
    port: <%= GalleryConfig.solr.port || 8983 %>
    log_level: WARNING
    path: /solr/default
    solr_home: <%= GalleryConfig.solr.home || 'solr' %>
    pid_dir: <%= File.join(GalleryConfig.directories.data, 'pids') %>
    # read_timeout: 2
    # open_timeout: 0.5

development:
  solr:
    scheme: <%= GalleryConfig.solr.scheme || 'http' %>
    hostname: <%= GalleryConfig.solr.hostname || 'localhost' %>
    port: <%= GalleryConfig.solr.port || 8982 %>
    log_level: INFO
    path: /solr/development

test:
  solr:
    scheme: <%= GalleryConfig.solr.scheme || 'http' %>
    hostname: <%= GalleryConfig.solr.hostname || 'localhost' %>
    port: <%= GalleryConfig.solr.port || 8981 %>
    log_level: WARNING
    path: /solr/test
    
