$(document).ready(function(){

  /* ===================================== */
  /* == Header-Compliance Functionality == */
  /* ===================================== */
  $('#mobileNavContainer').keypress(function(e){
    var keycode = (e.keyCode ? event.keyCode : event.which);
    if(keycode == '13' || keycode == '32'){
      e.preventDefault();
      $('#mobileNavContainer').click();
    }
  });
  $('#mobileNavContainer').click(function(e) {
    e.preventDefault();
    $(this).toggleClass('expand');
    $('#mobileNavDropdown').toggleClass('open');
    if($(this).hasClass('expand')){
      $('#mobileNavDropdown').css("display","block");
    }
    else {
      $('#mobileNavDropdown').css("display","none");
    }
    closeLearnDropdown();
    closeNotebooksDropdown();
    closeSearch();
    closeUserDropdown();
    toggleAriaExpanded(this);
  });
  $('body.user-signed-in #gearDropdown').keypress(function(e){
    var keycode = (e.keyCode ? event.keyCode : event.which);
    if(keycode == '13' || keycode == '32'){
      e.preventDefault();
      $('#gearDropdown').click();
    }
  });
  $('body.user-signed-in #gearDropdown').click(function() {
    $(this).toggleClass('open');
    $('#gearDropdownMenu').toggleClass('expand');
    if($(this).hasClass('open')){
      $('#gearDropdownMenu').css("display","block");
    }
    else {
      $('#gearDropdownMenu').css("display","none");
    }
    closeLearnDropdown();
    closeMoreMenu();
    closeNotebooksDropdown();
    closeSearch();
    return false;
  });
  $('#learnMore').keypress(function(e){
    var keycode = (e.keyCode ? event.keyCode : event.which);
    if(keycode == '13' || keycode == '32'){
      e.preventDefault();
      $('#learnMore').click();
    }
  });
  $('#learnMore').click(function(event) {
    event.preventDefault();
    $(this).toggleClass('open');
    $('#learnMoreDropdown').toggleClass('expand');
    if($(this).hasClass('open')){
      $('#learnMoreDropdown').css("display","block");
    }
    else {
      $('#learnMoreDropdown').css("display","none");
    }
    closeMoreMenu();
    closeNotebooksDropdown();
    closeUserDropdown();
    closeSearch();
    toggleAriaExpanded(this);
  });
  function closeLearnDropdown() {
    $('#learnMore').removeClass('open');
    $('#learnMoreDropdown').removeClass('expand');
    $('#learnMoreDropdown').css("display","none");
    $('#learnMore').attr("aria-expanded", "false");
  }
  function closeUserDropdown() {
    $('#gearDropdown').removeClass('open');
    $('#gearDropdownMenu').removeClass('expand');
    $('#gearDropdownMenu').css("display","none");
    $('#gearDropdown').attr("aria-expanded", "false");
  }
  function closeMoreMenu() {
    $('#mobileNavDropdown').removeClass('open');
    $('#mobileNavContainer').removeClass('expand');
    $('#mobileNavDropdown').css("display","none");
    $('#mobileNavContainer').attr("aria-expanded", "false");
  }
  function closeNotebooksDropdown() {
    $('#notebookFilterDropDownFullThing').removeClass('open');
    $('#dropdownCaretButton').removeClass('open');
    $('#dropdownMenu').css("display","none");
    $('#dropdownCaretButton').attr("aria-expanded", "false");
  }
  function toggleAriaExpanded(element) {
    var aria = $(element).attr("aria-expanded");
    if (aria == "true")
      $(element).attr("aria-expanded", "false");
    else
      $(element).attr("aria-expanded", "true");
  }
  $('#dropdownCaretButton').keypress(function(e){
    var keycode = (e.keyCode ? event.keyCode : event.which);
    if(keycode == '13' || keycode == '32'){
      e.preventDefault();
      $('#dropdownCaretButton').click();
    }
  });
  $('#dropdownCaretButton').click(function() {
    $(this).toggleClass('open');
    if($(this).hasClass('open')){
      $('#dropdownMenu').css("display","block");
    }
    else {
      $('#dropdownMenu').css("display","none");
    }
    closeLearnDropdown();
    closeMoreMenu();
    closeSearch();
    closeUserDropdown();
  });

  /* ======================================= */
  /* ===== Search Button Functionality ===== */
  /* ======================================= */
  $('#expandableSearch').keypress(function(e){
    var keycode = (e.keyCode ? event.keyCode : event.which);
    if(keycode == '13' || keycode == '32'){
      e.preventDefault();
      $('#expandableSearch').click();
    }
  });
  $('#expandableSearch').click(function() {
    $(this).toggleClass('focus-back');
    $('#expandableSearchDropdown').toggleClass('focus-back');
    if($(this).hasClass('focus-back')){
      $('#expandableSearchDropdown').css("display","block");
      $('#expandableSearchDropdown .searchFieldBox').focus();
    }
    else {
      $('#expandableSearchDropdown').css("display","none");
    }
    closeLearnDropdown();
    closeMoreMenu();
    closeNotebooksDropdown();
    closeUserDropdown();
    toggleAriaExpanded(this);
  });
  function closeSearch() {
    $('#expandableSearch').removeClass('focus-back');
    $('#expandableSearchDropdown').removeClass('focus-back');
    $('#expandableSearchDropdown').css("display","none");
    $('#expandableSearch').attr("aria-expanded", "false");
  }

  /* ======================================= */
  /* ==== Switching Layout to BETA/back ==== */
  /* ======================================= */
  $('a.beta').on("click", function(e) {
    e.preventDefault();
    window.location = '/?beta=true';
  });
  $('a.switchGUI').keypress(function(e){
    var keycode = (e.keyCode ? event.keyCode : event.which);
    if(keycode == '13' || keycode == '32'){
      e.preventDefault();
      $('a.switchGUI').click();
    }
  });
  $('a.switchGUI').on("click", function(e) {
    e.preventDefault();
    window.location = '/';
  });

  /* ======================================= */
  /* ======= Home Page Functionality ======= */
  /* ======================================= */
  $(document).ready(function(){
    var selector = '.page-home .tabs a'
    $(selector).on('click', function(){
      $(selector).closest("li.tab").removeClass('active');
      $(selector).attr("aria-expanded", "false");
      $(this).closest("li.tab").addClass('active');
      $(this).attr("aria-expanded", "true");
    });
  });

  $('#newHomePageNotebooks').load('/home_notebooks');

  // Loading opacity & spinner when tab is clicked or Enter key is pressed (508 compliance)
  $('.page-home .tabLink').on("click", function(e){
    e.preventDefault();
    $(document).ajaxStart(function(){
      if ($('#initialLoadImage').length < 1) {
        $("wait").css("display", "block");
        $('#hiddenSpinner').addClass("loading");
        $('#hiddenSpinner').attr("aria-live","assertive");
      }
    });
    $(document).ajaxComplete(function(){
      $("#wait").css("display", "none");
      $("#txt").css("opacity", "1");
      $("#newHomePageNotebooks").css("opacity","1");
      $("#hiddenSpinner").removeClass("loading");
      $('#hiddenSpinner').attr("aria-live","off");
      $(document).unbind('ajaxStart');
      $(document).unbind('ajaxComplete');
    });
  });

  function loadingGif() {
    $(document).ajaxStart(function(){
      $('#hiddenSpinner').addClass("loading");
      $('#hiddenSpinner').attr("aria-live","assertive");
    });
    $(document).ajaxComplete(function(){
      $("#hiddenSpinner").removeClass("loading");
      $('#hiddenSpinner').attr("aria-live","off");
      $(document).unbind('ajaxStart');
      $(document).unbind('ajaxComplete');
    });
  }

  //Data for RECENT notebooks
  $('#newHomeNotebooksRecent').keypress(function(e){
    var keycode = (e.keyCode ? event.keyCode : event.which);
    if(keycode == '13' || keycode == '32'){
      e.preventDefault();
      $('#newHomeNotebooksRecent').click();
    }
  });
  $("#newHomeNotebooksRecent").on("click", function(){
    fadeHomePageListings();
    $("#newHomePageNotebooks").load('/home_notebooks?type=recent');
    return false;
  });

  //Data for STARRED notebooks
  $('#newHomeNotebooksStars').keypress(function(e){
    var keycode = (e.keyCode ? event.keyCode : event.which);
    if(keycode == '13' || keycode == '32'){
      e.preventDefault();
      $('#newHomeNotebooksStars').click();
    }
  });
  $("#newHomeNotebooksStars").on("click", function(){
    fadeHomePageListings();
    $("#newHomePageNotebooks").load('/home_notebooks?type=stars');
    return false;
  });

  //Data for RECOMMENDED notebooks
  $('#newHomeNotebooksRecommended').keypress(function(e){
    var keycode = (e.keyCode ? event.keyCode : event.which);
    if(keycode == '13' || keycode == '32'){
      e.preventDefault();
      $('#newHomeNotebooksRecommended').click();
    }
  });
  $("#newHomeNotebooksRecommended").on("click", function(){
    fadeHomePageListings();
    $("#newHomePageNotebooks").load('/home_notebooks?type=suggested');
    return false;
  });

   //Data for YOUR notebooks
  $('#newHomeNotebooksYours').keypress(function(e){
    var keycode = (e.keyCode ? event.keyCode : event.which);
    if(keycode == '13' || keycode == '32'){
      e.preventDefault();
      $('#newHomeNotebooksYours').click();
    }
  });
  $("#newHomeNotebooksYours").on("click", function(){
    fadeHomePageListings();
    $("#newHomePageNotebooks").load('/home_notebooks?type=mine');
    return false;
  });

  //Data for ALL notebooks
  $('#newHomeNotebooksAll').keypress(function(e){
    var keycode = (e.keyCode ? event.keyCode : event.which);
    if(keycode == '13' || keycode == '32'){
      e.preventDefault();
      $('#newHomeNotebooksAll').click();
    }
  });
  $("#newHomeNotebooksAll").on("click", function(){
    fadeHomePageListings();
    $("#newHomePageNotebooks").load('/home_notebooks?type=all');
    return false;
  });
  function fadeHomePageListings() {
    $("#txt").css("opacity", ".5");
    $("#newHomePageNotebooks").css("opacity", ".5");
  }

  $(document).ready(function(){
    $.fn.sparkline.defaults.line.lineColor = 'black';
    $.fn.sparkline.defaults.line.fillColor  = 'gray';
    $.fn.sparkline.defaults.line.highlightSpotColor ='black';
    $.fn.sparkline.defaults.line.highlightLineColor ='black';
    $('.sparkline').sparkline();
    $('.minimize').shave(125);
    $('.tooltip-right').tooltipster({
      maxWidth:500,
      side:'right'
    });
    $('.tooltips, .tooltip-title').tooltipster({
      maxWidth:300
    });
    $.fn.tooltipster('setDefaults',{animation: 'grow'});
    $('.tooltips').tooltipster();
  });

  /* ===================================== */
  /* ===== Search Page Functionality ===== */
  /* ===================================== */
  $('body.page-notebook-search form#bigSearchBar').on('submit',function(){
    $('.search-filters-container .token-label').prepend(' ');
    var search_filters = $('.search-filters-container .token-label');
    var search_query = $('#bigSearchBar input.searchFieldBox').val() + search_filters.text();
    $('#advancedSearch').val(search_query);
  });
  function removeFilterFunctionality() {
    $('body.page-notebook-search .search-filters-super-container .close').keypress(function(e){
      var keycode = (e.keyCode ? event.keyCode : event.which);
      if(keycode == '13' || keycode == '32'){
        e.preventDefault();
        $('body.page-notebook-search .close').click();
      }
    });
    $('body.page-notebook-search .search-filters-super-container .close').on('click', function(e){
      e.preventDefault();
      $(this).parent().remove();
      $('.search-alerts-container').empty();
      $('.search-alerts-container').append('<div class="content-container alert-container"><div class="alert alert-success content-body-alert" role="alert"><i class="fa fa-check-circle" aria-hidden="true"></i>Filter deleted successfully. Preform search to refresh the results.<button class="close" aria-hidden="false" aria-label="Close" data-dismiss="alert" type="button"> &times;</button></div></div>');
      $('.searchFieldBox').focus();
    });
  }
  removeFilterFunctionality();
  $('#filterToggle').keypress(function(e){
    var keycode = (e.keyCode ? event.keyCode : event.which);
    if(keycode == '13' || keycode == '32'){
      e.preventDefault();
      $('#filterToggle').click();
    }
  });
  $('#filterToggle').on('click', function(e){
    e.preventDefault();
    $('#filterToggle').children('i.fa-chevron-down').toggleClass('spin');
    element = '#addFilterFormContainer'
    $(element).toggleClass('expand');
    if($(element).hasClass('expand')){
      $(element).css('display','block');
    }
    else {
      $(element).css('display','none');
    }
    toggleAriaExpanded(element);
  });

  $('#filterFormSubmit').keypress(function(e){
    var keycode = (e.keyCode ? event.keyCode : event.which);
    if(keycode == '13' || keycode == '32'){
      e.preventDefault();
      $('#filterFormSubmit').click();
    }
  });
  $('#filterFormSubmit').on('click', function(e){
    e.preventDefault();
    filter = $('#filterFormValue');
    if ($(filter).val().length > 0) {
      if ($(filter).val().indexOf(' ') >= 0 && ($(filter).val().indexOf('"') < 0)) {
        new_filter = $('#filterFormType').val() + ':' + $('#filterFormInclusion').val() + "\"" + $(filter).val() + "\"";
      }
      else {
        new_filter = $('#filterFormType').val() + ':' + $('#filterFormInclusion').val() + $(filter).val();
      }
      $('.search-filters-container').css('display','table-row');
      $('.search-filters-container .tokenfield').append('<div class="token"><span class="token-label">' + new_filter + '</span><span class="sr-only">' + " " + '</span><a class="close tooltips" href="#" tab-index="-1" title="Delete search filter"><span aria-hidden="true">&times;</span><span class="sr-only">Delete search filter of ' + new_filter + '</span></a></div>');
      $('.search-alerts-container').empty();
      $('.search-alerts-container').append('<div class="content-container alert-container"><div class="alert alert-success content-body-alert" role="alert"><i class="fa fa-check-circle" aria-hidden="true"></i>Filter added successfully. Add more filters or preform search to refresh the results.<button class="close" aria-hidden="false" aria-label="Close" data-dismiss="alert" type="button"> &times;</button></div></div>');
      $('#filterFormValue').val("");
      removeFilterFunctionality();
    }
    else {
      $('.search-alerts-container').empty();
      $('.search-alerts-container').append('<div class="content-container alert-container"><div class="alert alert-error content-body-alert" role="alert"><i class="fa fa-check-circle" aria-hidden="true"></i>Filter could not be added because Value field is empty.<button class="close" aria-hidden="false" aria-label="Close" data-dismiss="alert" type="button"> &times;</button></div></div>');
    }
  });
  $('#addFilterForm').on('submit', function(e) {
    e.preventDefault();
    if ($('#filterFormValue').val().length > 0) {
      $('#filterFormSubmit').click();
    }
    $('#bigSearchBar').submit();
  });

  /* ===================================== */
  /* ========== Search Tooltip =========== */
  /* ===================================== */
  var reveal_search_info_message = true;
  $('form.search-form .searchFieldBox').on('focus', function(){
    $('form.search-form .searchFieldBox').css('padding-right','1.4em');
    $('#searchTooltipButton').css('display','block');
    $('body').on('click', function(e){
      if (!(e.target.class == "super-container" || $(e.target).parents(".super-container").length || e.target.id == "navbarSearchBar" || $(e.target).parents("#navbarSearchBar").length)) {
        $('#searchTooltipButton').css('display','none');
        $('form.search-form .searchFieldBox').css('padding-right','.5em');
        closeSearchDialog();
      }
    });
  });
  $('#searchTooltipButton').keypress(function(e){
    var keycode = (e.keyCode ? event.keyCode : event.which);
    if(keycode == '13' || keycode == '32'){
      e.preventDefault();
      $('#searchTooltipButton').click();
    }
  });
  $('#searchTooltipButton').on('click', function(e){
    e.preventDefault();
    if($('body').hasClass("page-home")) {
      var element = 'form.search-form .form-group'
    }
    else {
      var element = 'form.search-form'
    }
    if(reveal_search_info_message) {
      $(element).prepend('<div class="search-tooltip popover left fade in" role="alert"><div class="arrow"></div><h1 class="popover-title center">Adding Search Filter</h1><div class="popover-content"><p>Filter your search results by adding filters such as:</p><ul><li>user:username</li><li>title:mapping</li><li>description:"interactive maps"</li></ul></div></div>');
      $('form.search-form .searchFieldBox').focus();
      reveal_search_info_message = false;
    }
    else {
      closeSearchDialog();
      $('form.search-form .searchFieldBox').focus();
    }
  });
  function closeSearchDialog() {
    $('.search-tooltip').remove();
    reveal_search_info_message = true;
  }

  /* ===================================== */
  /* ======== Group Functionality ======== */
  /* ===================================== */
  $('#groupToggle').keypress(function(e){
    var keycode = (e.keyCode ? event.keyCode : event.which);
    if(keycode == '13' || keycode == '32'){
      e.preventDefault();
      $('#groupToggle').click();
    }
  });
  var viewToggled = false;
  $("#groupToggle").on("click", function(){
    if(!viewToggled) {
      $('.sparkline').sparkline();
      viewToggled = true;
    }
  });

  /* ===================================== */
  /* ====== Recommendation Toggling ====== */
  /* ===================================== */
  // Notebook "recommendations" similar notebooks and user also viewed stuff
  var prepareShelf = function(selector){
    $(selector).slick({
      dots: true,
      slidesToScroll: 2,
      variableWidth: true,
      infinite: false
    })
    $('.tooltip-narrow, .tooltips, .tooltip-title').tooltipster({
      'maxWidth':250
    });
    $('.headerShelf p:not(:has(.js-shave))').shave(60);
  }
  prepareShelf('.recommendedShelf');

  $('#recommendationToggle').keypress(function(e){
    var keycode = (e.keyCode ? event.keyCode : event.which);
    if(keycode == '13' || keycode == '32'){
      e.preventDefault();
      $('#recommendationToggle').click();
    }
  });
  $('#recommendationToggle').on('click', function(e){
    e.preventDefault();
    $(this).toggleClass('is-active');
    $('.jumbotron.notebookAddInfo').toggleClass('is-active');
    if ($('#recommendationToggle').hasClass('is-active')) {
      $('.jumbotron.notebookAddInfo .shelf').css("display", "block");
    }
    else {
      $('.jumbotron.notebookAddInfo .shelf').delay(1000).queue(function(){
        $(this).css("display", "none")
      });
    }
    $(this).children('i').toggleClass('spin');
    toggleAriaExpanded(this);
  });

  /* ===================================== */
  /* ===== Revisions - Edit Summary ====== */
  /* ===================================== */
  $('.commit-message-cell .edit-icon').keypress(function(e){
    var keycode = (e.keyCode ? event.keyCode : event.which);
    if(keycode == '13' || keycode == '32'){
      e.preventDefault();
      $(this).click();
    }
  });
  function autoSize({target:element}){
    console.log("enter");
    if(!element.classList.contains('auto-expand'))
      return;
    setTimeout(function(){
      element.style.cssText = '';
      element.style.cssText = 'height:' + element.scrollHeight + 'px';
    },0);
  }
  $('.commit-message-cell .edit-icon').on('click', function(e){
    e.preventDefault();
    var parentElement = $(this).parent().parent();
    parentElement.toggleClass('is-active');
    parentElement.find('.mouseoveredit').css("display", "none");
    parentElement.find('.commit-message-edit-form').css("display", "block");
    var text = parentElement.find('.mouseoveredit > span').text()
    if (text != "-") {
      parentElement.find('.commit-message-edit-form textarea').val(text);
    }
    document.addEventListener('keydown', autoSize);
    var textarea = $('textarea', parentElement);
    console.log(textarea[0].scrollHeight);
    textarea.css({"height": "auto", "padding": "8px"});
    textarea.css("height", textarea[0].scrollHeight + "px");
  });
  $('.commit-message-cell .btn-danger').keypress(function(e){
    var keycode = (e.keyCode ? event.keyCode : event.which);
    if(keycode == '13' || keycode == '32'){
      e.preventDefault();
      $(this).click();
    }
  });
  $('.commit-message-cell .btn-danger').on('click', function(e){
    e.preventDefault();
    var parentElement = $(this).parent().parent()
    parentElement.toggleClass('is-active');
    parentElement.find('.mouseoveredit').css("display", "block");
    parentElement.find('.commit-message-edit-form').css("display", "none");
  });
  $('form.commit-message-edit-form').on('submit', function(e){
    e.preventDefault();
    var url = ($(this).data("url")).split("/");
    url[2] = url[2].substring(0, url[2].indexOf('-'));
    url = url.join('/') + "/edit_summary";
    data = $(this).serialize();
    console.log(data);
    $.ajax({
      method: 'PATCH',
      url: url,
      data: data,
      headers: {
        Accept: 'application/json'
      },
      success: function(response){
      },
      error: function(response){
        bootbox.alert('Error loading tags: ' + response.responseText);
      }
    });
  });

  /* ===================================== */
  /* ======== Misc Functionality ========= */
  /* ===================================== */
  var windowLostFocus = false;

  $('#about').on('click',function(){
    $('#overviewModal').modal('show');
    return false;
  });

  var pathname = window.location.pathname
  if(pathname.indexOf("stage") > -1){
    var staging_id = pathname.substr(pathname.lastIndexOf('/')+1);
  }
  var dropdown_loaded = false;
  $('#dropdownCaretButton').on('click',function(){
    if(!dropdown_loaded){
      $('#dropdownMenu').html('<center> <%=image_tag('loading.gif', style: 'height: 20px') %> </center>');
      $('#dropdownMenu').load('/layout_dropdown', function(response,status){
        if (status != "error") {
          $(document).trigger('dropdownMenuLoaded');
          dropdown_loaded=true;
        };
      });
    }else{
      $(document).trigger('dropdownMenuLoaded');
    }
  });

  $('.sortResultsForm .sortDropDown').change(function(){
    $('.sortResultsForm').submit();
  }).val($('.sortHidden').val());

  $('#filterDeprecatedForm #deprecatedCheckbox').change(function(){
    $('#filterDeprecatedForm').submit();
  }).attr('checked', $('#deprecatedHidden').val()=="1");

  /* ===================================== */
  /* ======= More Actions Dropdown ======= */
  /* ===================================== */
  $('#notebookGearDropdown').keypress(function(e){
    var keycode = (e.keyCode ? event.keyCode : event.which);
    if(keycode == '13' || keycode == '32'){
      e.preventDefault();
      $('#notebookGearDropdown').click();
    }
  });
  $('#notebookGearDropdown').click(function(e) {
    e.preventDefault();
    $(this).toggleClass('expand');
    if($(this).hasClass('expand')){
      $('#notebookGearActions').css("display","block");
    }
    else {
      $('#notebookGearActions').css("display","none");
    }
    toggleAriaExpanded(this);
    return false;
  });

  /* ===================================== */
  /* ========== Change Requests ========== */
  /* ===================================== */
  $('#changeReqViewButton').keypress(function(e){
    var keycode = (e.keyCode ? event.keyCode : event.which);
    if(keycode == '13' || keycode == '32'){
      e.preventDefault();
      $('#changeReqViewButton').click();
    }
  });
  $('#changeReqViewButton').click(function() {
    $(this).toggleClass('expand');
    if($(this).hasClass('expand')){
      $('#changeReqViewDropdown').css("display","block");
    }
    else {
      $('#changeReqViewDropdown').css("display","none");
    }
    toggleAriaExpanded(this);
  });
  $('.page-change_requests-id #changeReqViewText').on("click", function(){
    loadingGif();
  });

  /* ===================================== */
  /* ======== Modal Accessibility ======== */
  /* ===================================== */
  /* Have Modals gain focus whenever opened - in the event of default behavior failing */
  $('.modal-activate').on("click", function (event) {
    href = $(this).attr('href');
    var dialog = $(href);
    $(href).css("display","block");
    $(href).focus();
  });

  /* ===================================== */
  /* ======== Uploading Notebooks ======== */
  /* ===================================== */
  $(document).off('stage_success');
  $(document).on("stage_success", function(e, preprocessResponse) {
    var tags = preprocessResponse['proposed_tags'];
    console.log(tags);
    if(preprocessResponse['proposed_tags'] !='') {
      $("#stageTags").val($("#stageTags").val() + ',' + tags.join(", "));
    }
    $.ajax({
      method: 'GET',
      url: '/tags',
      headers: {
        Accept: 'application/json'
      },
      success: function(json){
        $('#stageTags').tokenfield({
          minLength:0,
          delimiter: [',',' ','_','$',';','.','@','#','%','^','&','(',')','*','!'],
          showAutocompleteOnFocus: true,
          autocomplete:{
            source: json,
            delay: 100,
            minLength: 2
          }
        });
      },
      error: function(response){
        bootbox.alert('Error loading tags: ' + response.responseText);
      }
    });
  });

  $('#stageUpload').on('show.bs.modal',function(){
    $.ajax({
      method: 'GET',
      url: '/stages/' + $('#stagedName').val() + '/preprocess',
      headers: {
        Accept: 'application/json'
      },
      success:function(response){
        $(document).trigger("stage_success", response);
      },
      error: function(response){
        bootbox.alert('Error: ' + response.responseText);
      }
    });
  });

  $(document).on('upload_error',function(event, response){
    $('#uploadFeedbackProgressBar').html('');
    if(response.status==409){
        $('#uploadOverwrite').attr('hidden',false);
    }
    else{
      $('#uploadErrorWarning').html('<strong> Error: </strong>' + response.responseText);
      $('#uploadErrorWarning').attr('hidden',false);
      $('#uploadFileSubmit').attr('disabled', false);
    }
  });

  $('#uploadFileForm').validator().on('submit', function(e){
    if (!e.isDefaultPrevented()) {
      $('#uploadFileSubmit').attr('disabled', true);
      $('#uploadFeedbackProgressBar').html('<div class="progress progress-striped active"><div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="90" style="width: 100%">');
      var url = '/stages'
      $.ajax({
        url: url,
        type: 'POST',
        data: new FormData($('#uploadFileForm')[0]),
        cache: false,
        contentType: false,
        processData: false,
        success: function(response) {
          $('#uploadFeedbackProgressBar').html('');
          var stagingResponse = response;
          $('#stagedName').val(stagingResponse['staging_id']);
          $('#stagingId').val(stagingResponse['staging_id']);
          $('#stageUpload').modal('show');
          $('#uploadFileModal').modal("hide");
          $('#uploadFileSubmit').attr('disabled', false);
        },
        error: function(response) {
          $(document).trigger("upload_error", response);
        }
      });
    }
  return false;
  });

  $(document).on('stage_error',function(event, response){
    $('#stageFeedbackProgressBar').html('');
    if(response.match(/duplicate title/)){
        $('#stageOverwrite').attr('hidden',false);
    }
    else{
      $('#stageOverwrite').attr('hidden',true);
    }
    $('#stageErrorWarning').html('<strong> Error with notebook </strong>');
    $('#stageErrorWarning').attr('hidden',false);
    $('#stageSubmit').attr('disabled', false);
  });

  $('#stageForm').validator().on('submit', function(e){
    if (!e.isDefaultPrevented()) {
      $('#stageSubmit').attr('disabled', true);
      $('#stageFeedbackProgressBar').html('<div class="progress progress-striped active"><div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="90" style="width: 100%">');
      var url = '/notebooks';
      $.ajax({
        url: url,
        type: 'POST',
        data: new FormData($('#stageForm')[0]),
        cache: false,
        contentType: false,
        processData: false,
        success: function(response) {
          $('#stageFeedbackProgressBar').html('');
          window.location.replace(response.friendly_url);
        },
        error: function(response) {
          bootbox.alert(response.responseText);
          $(document).trigger("stage_error", response.responseText);
        }
      });
    return false;
    }
  });

  // Catch people uploading a notebook from the Jupyter client
  var target = document.location.hash.replace('#','');
  if (target.length){
    if(target=='STAGE'){
      $('#stageUpload').modal('show');
    };
  };
});

$.fn.sparkline.defaults.line.lineColor = 'black';
$.fn.sparkline.defaults.line.fillColor  = 'gray';
$.fn.sparkline.defaults.line.highlightSpotColor ='black';
$.fn.sparkline.defaults.line.highlightLineColor ='black';
