javascript:
  $(document).ready(function(){

    $('#environmentsForm').validator().on('submit',function(){
      $.ajax({
        url: '/environments',
        type: 'POST',
        data: new FormData($('#environmentsForm')[0]),
        cache: false,
        contentType: false,
        processData: false,
        success: function() {
          location.reload();
        },
        error: function(response) {
          bootbox.alert(response.responseText)
        }
      });
      return false;
    });

    $('#addEnvironment').on('click', function(){
      $('#environmentsModal').modal('show');
      $('#environmentsModal div div.modal-content').load('/environments/new');
      return false;
    });

    $('.editEnvironment').on('click', function(){
      $('#environmentsModal').modal('show');
      var url = '/environments/' + encodeURIComponent($(this).attr('data-environmentName')) + '/edit'
      $('#environmentsModal div div.modal-content').load(url);
      return false;
    });

    $('.delEnvironment').on('click', function(){
      var url = '/environments/' + encodeURIComponent($(this).attr('data-environmentName'))
      $.ajax({
        url: url,
        type: 'DELETE',
        success: function(){
          location.reload();
        },
        error: function(response){
          bootbox.alert('You had an error! ' + response.statusText);
        }
      });
      return false;
    });
  });

==csrf_meta_tag
div.modal.fade id='environmentsModal' role='dialog'
  div.modal-dialog
    div.modal-content
      span Loading....

div.content-container
  h1.center "Run in Jupyter" Environments
  div.alert.alert-info.center
    p These preferences tell the Gallery where to send Jupyter notebooks for execution.
    p They will be updated automatically if you're running Jupyter docker image associated with the Gallery.

  table.clean-table
    caption.visually-hidden Environments
    thead
      tr
        th Default
        th Name
        th Url
        th Last Updated
        th Actions
    tbody
      -@environments.each do |environment|
        tr
          -if environment.default
            td
              i.fa.fa-check aria-hidden="false" aria-label="Checkmark denotes that given row represents your default Jupyter environment"
          -else
            td
              i aria-label="Row is not set as your default Jupyter Environment"
          td =environment.name
          td =environment.url
          td
            time.tooltips.tooltip-right.tooltipstered title="#{environment.updated_at.strftime("%A, %B %d, %Y %H:%M UTC")}"
              |  #{time_ago_in_words(environment.updated_at)} ago
          td
            a.editEnvironment href='#' data-environmentName="#{environment.name}"
              i.glyphicon.glyphicon-pencil.tooltips title='Edit this environment'
              span.visually-hidden Edit
            a.delete-icon.delEnvironment href='#' data-environmentName="#{environment.name}"
              i.glyphicon.glyphicon-trash.tooltips title='Delete this environment' style='margin-left:5px'
              span.visually-hidden Delete
  div.center id='addEnvironmentActions'
    a href='#environmentsModal' data-toggle='modal' id='addEnvironment'
      button.btn.btn-success Add new environment
