/*
put beta CSS here and use the following ID's at the top level CSS selector:
* #beta_homepage for any CSS specific to the home page beta.slim
* #beta_nbTable for any CSS specific to the beta notebooks table _beta_notebooks_table.slim
* #beta_nbStats for any CSS specific to the tags, icons contained in the _nb_stats.slim partial
*/

//Layout tag

#beta_layout {
  background-color: white;
}


#beta_layout #logo {
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
}

#beta_layout + .container {
  width: 1370px;
}

#beta_layout + .container hr.divider {
  padding: 5 0;
  margin: 0;
}

#beta_layout #searchHeader {
  background-color: #CF7D3C;
  border: none;
}

#beta_layout #searchTable {
  border: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
}

#beta_layout + .container .searchResultTag {
  margin-top: 0;
  margin-left: -10px;
  margin-bottom: 20px;
}

#beta_layout .row {
  margin-left: -200px;
}

#beta_layout #topNavbar {
  text-align: center;
}

#beta_layout #topNavbar .container {
  margin-top: 35px;
  text-align: center;
}

#beta_layout #topNavbar a {
  color: #cf7d3c;
}

#beta_layout .nav {
  margin-bottom: 1px;
}

#beta_layout .navbar {
  border: none;
  margin-bottom: 0;
}

#beta_layout .navbar a {
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 20px;
}

#beta_layout .navbar-default {
  border: none;
  box-shadow: none;
  background-color: none;
}

#beta_layout .navbar-wrapper .navbar-inner {
  background-color: white;
}

#beta_layout .navbar-btn {
  color: none;
}



#beta_layout .nav-item {
  display: inline;
}

#beta_layout #navbarSearchBar{
  margin: 0;
  padding: 0;
  display: inline;
  margin: left;
}

#beta_layout div.navbar-nav a{
  margin-right: 5px;
}


#beta_layout hr.NavHR {
  margin-bottom: 6px;
  margin-top: -6px;
  max-width: 27%;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#beta_layout .searchResults {
  margin-bottom: 3%;
  border: none;
  margin: auto;
  width: 100%;
  padding: 0px;
  margin-top: 3%;
}

#beta_layout h3.searchHeader {
  font-size: 18px;
  float: left;
}

#beta_layout h3.totalNbCount {
  font-size: 18px;
  margin: 0px 0px;
}

#beta_layout #sortResultsForm {
  max-width: 300px;
  float: none;
  margin: 0px 0px;
}

#beta_layout .sortTableHeader {
  font-family: Calibri;
  font-size: 18px;
  width: 150px;
  background-color: #f1f1f1;
}

#beta_layout .sortTable {
  border: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
}

#beta_layout #sort {
  margin: 0px 0px;
}

#beta_layout .groupSearchResults {
  margin: 0px 0px;
  font-size: 16px;
  float: left;
}

#beta_layout .sortData {
  padding: 14px;
}

#beta_layout .navLinks a {
  color: #cf7d3c;
  text-decoration: none;
  font-weight: bold;
}

#beta_layout .navLinks a:hover{
  color: #efaf7a;
}

#beta_layout .container .navLinks {
  text-align: center;
}

#beta_layout .navLinks {
  text-align: center;
  margin-bottom: 10px;
}

#beta_layout .dropdown {
  width: 10%;
  display: inline;
}

//Homepage tag
#beta_homepage html, body {
  height: 100%;
  position: relative;
  background-color: none;
}

#beta_homepage .text-container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

#beta_homepage #txt {
  width: 1170px;
}

#beta_homepage .logo-loading{
  margin-left: 43%;
}

#beta_homepage .alert {
  background-color: #f0d6c2;
  box-shadow: none;
  text-align: center;
  margin-left: 20%;
  max-width: 60%;
}

#beta_homepage .alertHead {
  font-size: 21px;
  font-family: Calibri;
  font-weight: bold;
}

#beta_homepage .alertMsg {
  font-size: 19px;
  font-family: Calibri;
}

#beta_homepage .alert-dismissible .close {
  top: -10px;
}

#beta_homepage .tab {
  list-style: none;
  text-align: center;
}

#beta_homepage ul.tab {
  float: left;
  padding-left: 0px;
  margin-right: auto;
  margin-left: 1.5%;
}

#beta_homepage .active {
  color: #cf7d3c;
  border-bottom: 0.4em solid #cf7d3c;
  text-transform: uppercase;
}

#beta_homepage li a {
  display: block;
  border-bottom: 0.4em solid #cccccc;
  text-transform: uppercase;
  font-size: 15.5px;
  font-weight: bold;
  color: #737373;
  cursor: pointer;
}

#beta_homepage li a:hover{
  border-bottom: 0.4em solid #666666;
  color: #666666;
  text-decoration: none;
}

#beta_nbTable .owner_footer {
  text-align: center;
  font-size: 12px;
  font-family: Calibri;
}


#beta_homepage li.tabs {
  float: left;
  margin: 0 1em 0 0;
}


//nbTable id


#beta_nbTable #moreTag {
  float: left;
  font-size: 12px;
}

#beta_nbTable .table_main{
  font-family: Calibri;
  border-collapse: collapse;
  border: 1px solid #dddddd;
  table-layout: fixed;
  border-top: none;
  max-width: 100%;
  margin-left: 51.5px;
}

#beta_nbTable .headline {
  background-color: #cccccc;
  text-align: center;
  font-family: Tahoma;
}

#beta_nbTable .headline:hover {
  background-color: #cccccc;
}

#beta_nbTable th {
  text-align: center;
  padding: 10px;
  font-size: 14px;
  border: none;
}

#beta_nbTable td {
  text-align: center;
  margin: 3;
  width: 200px;
}

#beta_nbTable .head_title {
  width: 100%;
  text-align: center;
}

#beta_nbTable #nbTable .tags {
  text-align: center;
  display: inline-block;
  font-size: 23px;
}

#beta_nbTable .info {
  margin: 0;
  position: relative;
}

#beta_nbTable .info .title {
  color: black;
  font-size: 24px;
  font-family: calibri;
  text-align: center;
}

#beta_nbTable .info p {
  font-family: calibri;
}

#beta_nbTable .info .title:hover {
  text-decoration: none;
  color: gray;
}

#beta_nbTable table.content {
  border: black 2px solid;
}

#beta_nbTable #nb-description {
  text-align: left;
}

#beta_nbTable tr:hover {
  background-color: #dddddd;
}

#beta_nbTable tr:nth-child(even){
  background: #f1f1f1;
}

#beta_nbTable tr:nth-child(even):hover{
  background-color: #dddddd;
}

#beta_nbTable .tags {
  text-align: center;
  display: inline-block;
  height: auto;
  margin-top: auto;
}

#beta_nbTable .tagRow:hover {
  text-decoration: none;
}

#beta_nbTable .sparkline {
  top: -30px;
  right: -20px;
}

#beta_nbTable .head_lang {
  width: 1%;
}

#beta_nbTable .head_sparkline {
  width: 20%;
}

#beta_nbStats .stats {
  width: 8.15%;
  text-align: center;
}

#beta_nbTable hr {
  margin: 2 0;
}

#beta_nbTable .table_footer {
  font-size: 14px;
  margin: 0;
  display: inline;
}

#beta_nbTable a {
  color: #CF7D3C;
}

#beta_nbTable .author-rep {
  margin-right: 3px;
}


#beta_nbStats .badge-notify {
  top: 1px;
  left: 0px;
}

#beta_nbStats .badge {
  background-color: inherit;
  color: black;
}

#beta_nbTable .comment {
  border: none;
  border-color: none;
  background-color: inherit;
  padding: 0;
  margin: 2 0;
}

#beta_nbTable .comment a:hover {
  text-decoration: none;
  color: #e2a06a;
}

#beta_nbTable .action-icon.view-summary {
  margin-top: 0px;
  font-size: 23px;
}

#beta_nbStats .glyphicon {
  font-size: 23px;
}

#beta_layout .form-control {
  display: inline-block;
  margin: 25px;
}

//#beta_layout .headerTag {
//  font-family: Calibri;
//  font-size: 30px;
//  text-transform: uppercase;
//  font-weight: 600;
//}

#beta_layout .switchGUI {
  cursor: pointer;
}

#beta_nbTable #snippetInfo {
  font-family: Calibri;
  font-size: 13px;
}

#beta_homepage #mainHeader {
 box-shadow: 5px 5px #dddddd;
}

#beta_nbTable {
  border: 1px solid #e2e2e2;
}

.jqstooltip{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

#beta_nbTable .tooltip-class{
  width: 29px;
  height: 23px;
  margin: 0;
}


#hiddenSpinner .fa-refresh  {
  z-index: 1000;
  position: absolute;
  top: 50%;
  right: 45%;
  font-size: 250px;
}

/*FIX THIS
.active {
  color: #cf7d3c;
  border-bottom: 0.4em solid #cf7d3c;
}
*/

#beta_nbTable .github-fork-ribbon a {
  color: white;
  width: 150;
  font-size: 14px;
}

#beta_nbTable .github-fork-ribbon {
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 2px;
}
