.github-fork-ribbon{
  background-color: #08601a;
  background-image: -moz-linear-gradiant(center top , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  box-shadow: 0 2px 3px 0 rgbx(0,0,0,0.5);
  padding: 2px 0;
  position: absolute;
  z-index: 9999;
}

.github-fork-ribbon a, .github-fork-ribbon a:hover{
  border-color: rgba(255,255,255, 0.7);
  border-style: dotted;
  border-width: 1px 0;
  color: white;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 2px 0;
  text-align: center;
  text-decoration: none;
  width: 200px;
}

.github-fork-ribbon-wrapper{
  height:150px;
  overflow:hidden;
  position:absolute;
  top: 0;
  width:150px;
  z-index:10;
}

.github-fork-ribbon-wrapper.fixed{
  position:fixed;
}

.github-fork-ribbon-wrapper.left{
  left: 0;
}

.github-fork-ribbon-wrapper.right{
  right: 0px;
  top: 0px;
}

.github-fork-ribbon-wrapper.left-bottom{
  bottom: 0;
  left: 0;
  position: fixed;
  top: inherit;
}

.github-fork-ribbon-wrapper.right-bottom{
  bottom: 0;
  left: 0;
  position: fixed;
  top: inherit;
}

.github-fork-ribbon-wrapper.right .github-fork-ribbon{
  right: -43px;
  top: 42px;
  transform: rotate(45deg);
}


.github-fork-ribbon-wrapper.left .github-fork-ribbon{
  right: -43px;
  top: 42px;
  transform: rotate(45deg);
}

.github-fork-ribbon-wrapper.right-bottom .github-fork-ribbon{
  right: -43px;
  top: 42px;
  transform: rotate(45deg);
}

.github-fork-ribbon-wrapper.left-bottom .github-fork-ribbon{
  right: -43px;
  top: 42px;
  transform: rotate(45deg);
}

.github-fork-ribbon-wrapper .github-fork-ribbon{
  right: -43px;
  top: 42px;
  transform: rotate(45deg);
}