a.language-icon.tooltips href="#{language_link(notebook.lang, notebook.lang_version)}" title="This notebook is written in #{notebook.lang.capitalize}" aria-label="#{notebook.lang.capitalize} #{notebook.lang_version}"
  ==image_tag(language_thumbnail(notebook.lang, notebook.lang_version), aria: {"hidden": true}, alt:"#{notebook.lang} language icon", class:"lang_logo")
