a href="#{language_link(notebook.lang, notebook.lang_version)}"
  ==image_tag(language_thumbnail(notebook.lang, notebook.lang_version), class: 'tooltips lang_logo', title: "This notebook is written in #{notebook.lang.capitalize}")
