-unless notebook.public?
  ==image_tag("Lock.png", class: "tagLogoLock tooltips tooltipstered", title:"This notebook is private", alt:"This notebook is private")
==render partial: "language_icons", locals: { notebook: notebook }
-star_count = notebook.stars.count
==render partial: "notebook_metadata_metrics", locals: { notebook: @notebook }
