a.title href=((params[:type] == nil || params[:type] == "suggested") && @user.member? && request.path == "#{home_notebooks_path}" ? "#{url_for(nb)}?ref=suggested" : "#{url_for(nb)}")
  -unless nb.public?
    ==image_tag("Lock.png", class: "tagLogoLock tooltips", alt: "Private Notebook", title: "This notebook is private", tabindex: "0")
  ==nb.title
